<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kim.hyunsub.dutch.mapper.DutchRecordMemberMapper">
    <select id="selectByRecordId" resultType="DutchRecordMemberWithName">
        SELECT a.*, b.name
        FROM dutch_record_member a
        INNER JOIN dutch_member b ON b.id = a.member_id
        WHERE a.record_id = #{recordId}
    </select>

    <select id="selectByRecordIds" resultType="DutchRecordMemberWithName">
        SELECT a.*, b.name
        FROM dutch_record_member a
        INNER JOIN dutch_member b ON b.id = a.member_id
        WHERE
        <choose>
            <when test="recordIds.isEmpty()">
                1 = 0
            </when>
            <otherwise>
                a.record_id IN <foreach collection="recordIds" item="v" separator="," open="(" close=")">#{v}</foreach>
            </otherwise>
        </choose>
    </select>

    <select id="selectOne" resultType="DutchRecordMemberWithName">
        SELECT a.*, b.name
        FROM dutch_record_member a
        INNER JOIN dutch_member b ON b.id = a.member_id
        WHERE a.record_id = #{recordId} AND a.member_id = #{memberId}
    </select>

    <select id="settle" resultType="DutchSettleMemberTempResult">
        SELECT a.member_id, b.currency, SUM(a.actual) AS actual, SUM(a.should) AS should
        FROM dutch_record_member a
        INNER JOIN dutch_record b ON b.id = a.record_id
        WHERE b.trip_id = #{tripId}
        GROUP BY a.member_id, b.currency;
    </select>

    <insert id="insertAll">
        INSERT INTO dutch_record_member
        (record_id, member_id, actual, should, reg_dt) VALUES
        <foreach collection="entities" item="v" separator=",">
            (#{v.recordId}, #{v.memberId}, #{v.actual}, #{v.should}, NOW())
        </foreach>
    </insert>

    <delete id="deleteByTripId">
        DELETE a
        FROM dutch_record_member a
        INNER JOIN dutch_record b ON b.id = a.record_id
        WHERE b.trip_id = #{tripId}
    </delete>

    <delete id="deleteByRecordId">
        DELETE
        FROM dutch_record_member
        WHERE record_id = #{recordId}
    </delete>
</mapper>
