<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kim.hyunsub.dutch.mapper.DutchRecordMapper">
    <select id="count">
        SELECT COUNT(*)
        FROM dutch_record
        WHERE id = #{id}
    </select>

    <select id="select">
        SELECT *
        FROM dutch_record
        WHERE id = #{recordId} AND trip_id = #{tripId}
    </select>

    <select id="selectCurrency">
        SELECT currency
        FROM dutch_record
        WHERE trip_id = #{tripId}
        GROUP BY currency
    </select>

    <select id="searchCount">
        SELECT COUNT(*)
        FROM dutch_record
        WHERE trip_id = #{tripId}
        <if test="currency != null">AND currency = #{currency}</if>
        <if test="query != null">
            <bind name="pattern" value="'%' + query + '%'" />
            AND (content LIKE #{pattern} OR location LIKE #{pattern})
        </if>
    </select>

    <select id="search">
        SELECT *
        FROM dutch_record
        WHERE trip_id = #{tripId}
        <if test="currency != null">AND currency = #{currency}</if>
        <if test="query != null">
            <bind name="pattern" value="'%' + query + '%'" />
            AND (content LIKE #{pattern} OR location LIKE #{pattern})
        </if>
        ORDER BY `date` DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <insert id="insert">
        INSERT INTO dutch_record
        (id, content, location, currency, payment, date, trip_id, reg_dt)
        VALUES
        (#{id}, #{content}, #{location}, #{currency}, #{payment}, #{date}, #{tripId}, NOW())
    </insert>

    <update id="update">
        UPDATE dutch_record
        SET content = #{content},
            location = #{location},
            currency = #{currency},
            payment = #{payment},
            date = #{date}
        WHERE id = #{id} AND trip_id = #{tripId}
    </update>

    <delete id="delete">
        DELETE
        FROM dutch_record
        WHERE id = #{id} AND trip_id = #{tripId}
    </delete>

    <delete id="deleteByTripId">
        DELETE
        FROM dutch_record
        WHERE trip_id = #{tripId}
    </delete>
</mapper>
