<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kim.hyunsub.dutch.mapper.DutchSettleMapper">
    <select id="settle">
        SELECT a.member_id, b.currency, SUM(a.actual) AS actual, SUM(a.should) AS should
        FROM dutch_record_member a
        INNER JOIN dutch_record b ON b.id = a.record_id
        WHERE b.trip_id = #{tripId}
        GROUP BY a.member_id, b.currency;
    </select>
</mapper>
