<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kim.hyunsub.dutch.mapper.DutchSpendMapper">
    <select id="count">
        SELECT COUNT(*)
        FROM dutch_record_member b
        INNER JOIN dutch_record a ON a.id = b.record_id
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="memberId != null">AND b.member_id = #{memberId}</if>
        </trim>
    </select>

    <select id="search">
        SELECT a.id AS record_id, a.content, a.location, a.date, a.currency, a.payment, b.should, b.actual
        FROM dutch_record_member b
        INNER JOIN dutch_record a ON a.id = b.record_id
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="memberId != null">AND b.member_id = #{memberId}</if>
        </trim>
        ORDER BY a.date DESC
        <if test="page != null">
            LIMIT #{page.pageSize} OFFSET #{page.offset}
        </if>
    </select>
</mapper>
