<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kim.hyunsub.photo.mapper.AlbumPhotoMapper">
    <select id="select" resultType="AlbumPhoto">
        SELECT *
        FROM album_photo
        WHERE photo_id = #{photoId}
    </select>
</mapper>
