<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kim.hyunsub.photo.repository.mapper.AlbumPhotoMapper">
    <select id="select" resultType="AlbumPhoto">
        SELECT album_id, photo_id, user_id, reg_dt
        FROM album_photo
        <where>
            <if test="albumId != null">AND album_id = #{albumId}</if>
            <if test="albumIds != null and !albumIds.isEmpty()">
                AND album_id IN (<foreach collection="albumIds" item="v" separator=",">#{v}</foreach>)
            </if>
            <if test="photoIds != null and !photoIds.isEmpty()">
                AND photo_id IN (<foreach collection="photoIds" item="v" separator=",">#{v}</foreach>)
            </if>
            <if test="excludePhotoIds != null and !excludePhotoIds.isEmpty()">
                AND photo_id NOT IN (<foreach collection="excludePhotoIds" item="v" separator=",">#{v}</foreach>)
            </if>
            <if test="userId != null">AND user_id = #{userId}</if>
        </where>
        <if test="page != null">
            LIMIT #{page.pageSize} OFFSET #{page.offset}
        </if>
    </select>

    <select id="count">
        SELECT COUNT(*)
        FROM album_photo
        <where>
            <if test="albumId != null">AND album_id = #{albumId}</if>
            <if test="albumIds != null and !albumIds.isEmpty()">
                AND album_id IN (<foreach collection="albumIds" item="v" separator=",">#{v}</foreach>)
            </if>
            <if test="photoIds != null and !photoIds.isEmpty()">
                AND photo_id IN (<foreach collection="photoIds" item="v" separator=",">#{v}</foreach>)
            </if>
            <if test="excludePhotoIds != null and !excludePhotoIds.isEmpty()">
                AND photo_id NOT IN (<foreach collection="excludePhotoIds" item="v" separator=",">#{v}</foreach>)
            </if>
            <if test="userId != null">AND user_id = #{userId}</if>
        </where>
    </select>

    <select id="selectOne" resultType="AlbumPhoto">
        SELECT album_id, photo_id, user_id, reg_dt
        FROM album_photo
        WHERE album_id = #{albumId} AND photo_id = #{photoId}
    </select>

    <select id="indexOfPhoto">
        SELECT COUNT(*)
        FROM album_photo
        WHERE album_id = #{albumId} AND photo_id &lt; #{photoId}
    </select>

    <insert id="insert">
        INSERT INTO album_photo
        (album_id, photo_id, user_id, reg_dt)
        VALUES
        (#{albumId}, #{photoId}, #{userId}, #{regDt})
    </insert>

    <insert id="insertAll">
        INSERT INTO album_photo
        (album_id, photo_id, user_id, reg_dt)
        VALUES
        <foreach collection="entities" item="v" separator=",">
            (#{v.albumId}, #{v.photoId}, #{v.userId}, #{v.regDt})
        </foreach>
    </insert>

    <delete id="delete">
        DELETE FROM album_photo
        <where>
            <if test="albumId != null">AND album_id = #{albumId}</if>
            <if test="albumIds != null and !albumIds.isEmpty()">
                AND album_id IN (<foreach collection="albumIds" item="v" separator=",">#{v}</foreach>)
            </if>
            <if test="photoIds != null and !photoIds.isEmpty()">
                AND photo_id IN (<foreach collection="photoIds" item="v" separator=",">#{v}</foreach>)
            </if>
            <if test="excludePhotoIds != null and !excludePhotoIds.isEmpty()">
                AND photo_id NOT IN (<foreach collection="excludePhotoIds" item="v" separator=",">#{v}</foreach>)
            </if>
            <if test="userId != null">AND user_id = #{userId}</if>
        </where>
    </delete>
</mapper>
