<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kim.hyunsub.photo.repository.mapper.PhotoMetadataMapper">
    <select id="selectOne" resultType="PhotoMetadata">
        SELECT photo_id,
               sub_sec_date_time_original,
               date_time_original,
               gps_date_time,
               time_stamp,
               modify_date,
               creation_date,
               offset_time,
               offset_time_original,
               offset_time_digitized,
               raw,
               date
        FROM photo_metadata
        WHERE photo_id = #{photoId}
    </select>

    <select id="selectDetailByAlbumId" resultType="ApiPhotoMetadata">
        SELECT a.photo_id,
               a.user_id,
               b.name,
               b.file_dt,
               b.date,
               b.offset,
               b.date_type,
               c.sub_sec_date_time_original,
               c.date_time_original,
               c.gps_date_time,
               c.time_stamp,
               c.modify_date,
               c.creation_date,
               c.offset_time,
               c.offset_time_original,
               c.offset_time_digitized
        FROM album_photo a
        INNER JOIN photo_owner b ON b.photo_id = a.photo_id AND b.user_id = a.user_id
        INNER JOIN photo_metadata c ON c.photo_id = a.photo_id
        WHERE a.album_id = #{albumId}
    </select>

    <insert id="upsert">
        INSERT INTO photo_metadata (
             photo_id,
             sub_sec_date_time_original,
             date_time_original,
             gps_date_time,
             time_stamp,
             modify_date,
             creation_date,
             offset_time,
             offset_time_original,
             offset_time_digitized,
             raw,
             date
        ) VALUES (
             #{photoId},
             #{subSecDateTimeOriginal},
             #{dateTimeOriginal},
             #{gpsDateTime},
             #{timeStamp},
             #{modifyDate},
             #{creationDate},
             #{offsetTime},
             #{offsetTimeOriginal},
             #{offsetTimeDigitized},
             #{raw},
             #{date}
        ) ON DUPLICATE KEY UPDATE
             sub_sec_date_time_original = #{subSecDateTimeOriginal},
             date_time_original = #{dateTimeOriginal},
             gps_date_time = #{gpsDateTime},
             time_stamp = #{timeStamp},
             modify_date = #{modifyDate},
             creation_date = #{creationDate},
             offset_time = #{offsetTime},
             offset_time_original = #{offsetTimeOriginal},
             offset_time_digitized = #{offsetTimeDigitized},
             raw = #{raw},
             date = #{date}
    </insert>

    <update id="updatePhotoId">
        UPDATE photo_metadata
        SET photo_id = #{from}
        WHERE photo_id = #{to}
    </update>

    <delete id="deleteByPhotoId">
        DELETE FROM photo_metadata
        WHERE photo_id = #{photoId}
    </delete>
</mapper>
