<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kim.hyunsub.photo.repository.mapper.PhotoOwnerMapper">
    <select id="select" resultType="PhotoOwner">
        SELECT user_id, photo_id, name, file_dt, reg_dt, date, offset, date_type, photo_id_new
        FROM photo_owner
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="userId != null">AND user_id = #{userId}</if>
            <if test="photoId != null">AND photo_id = #{photoId}</if>
            <if test="name != null">
                <bind name="namePattern" value="'%' + name + '%'" />
                AND name LIKE #{namePattern}
            </if>
        </trim>
        <if test="page != null">
            LIMIT #{page.pageSize} OFFSET #{page.offset}
        </if>
    </select>

    <select id="count">
        SELECT COUNT(*)
        FROM photo_owner
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="userId != null">AND user_id = #{userId}</if>
            <if test="photoId != null">AND photo_id = #{photoId}</if>
            <if test="name != null">
                <bind name="namePattern" value="'%' + name + '%'" />
                AND name LIKE #{namePattern}
            </if>
        </trim>
    </select>

    <select id="selectOne" resultType="PhotoOwner">
        SELECT user_id, photo_id, name, file_dt, reg_dt, date, offset, date_type, photo_id_new
        FROM photo_owner
        WHERE photo_id = #{photoId} AND user_id = #{userId}
    </select>

    <insert id="insert">
        INSERT INTO photo_owner
        (photo_id, user_id, name, file_dt, reg_dt, date, offset, date_type, photo_id_new)
        VALUES
        (#{photoId}, #{userId}, #{name}, #{fileDt}, #{regDt}, #{date}, #{offset}, #{dateType}, #{photoIdNew})
    </insert>

    <insert id="insertAll">
        INSERT INTO photo_owner
            (photo_id, user_id, name, file_dt, reg_dt, date, offset, date_type, photo_id_new)
        VALUES
        <foreach collection="entities" item="v" separator=",">
            (#{v.photoId}, #{v.userId}, #{v.name}, #{v.fileDt}, #{v.regDt}, #{v.date}, #{v.offset}, #{v.dateType}, #{v.photoIdNew})
        </foreach>
    </insert>

    <update id="update">
        UPDATE photo_owner
        SET name = #{name},
            file_dt = #{fileDt},
            date = #{date},
            offset = #{offset},
            date_type = #{dateType}
        WHERE user_id = #{userId} AND photo_id = #{photoId}
    </update>

    <update id="updatePhotoId">
        UPDATE photo_owner
        SET photo_id = #{to}
        WHERE photo_id = #{from}
    </update>

    <delete id="delete">
        DELETE FROM photo_owner
        WHERE
        photo_id = #{photoId} AND user_id = #{userId}
    </delete>

    <delete id="deleteAll">
        DELETE FROM photo_owner
        WHERE
        <foreach collection="entities" item="v" separator="OR">
            (photo_id = #{v.photoId} AND user_id = #{v.userId})
        </foreach>
    </delete>
</mapper>
