<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kim.hyunsub.photo.repository.mapper.PhotoMapper">
    <sql id="PhotoColumns">
        p.id,
        p.hash,
        p.width,
        p.height,
        p.size,
        p.ext,
        p.pair_photo_id
    </sql>

    <select id="countById">
        SELECT COUNT(*)
        FROM photo
        WHERE id = #{id}
    </select>

    <select id="selectByIds">
        SELECT <include refid="PhotoColumns" />
        FROM photo p
        WHERE p.id IN (<foreach collection="ids" item="v" separator=",">#{v}</foreach>)
    </select>

    <select id="selectOne" resultType="Photo">
        SELECT <include refid="PhotoColumns" />
        FROM photo p
        WHERE p.id = #{id}
    </select>

    <select id="selectByHash" resultType="Photo">
        SELECT <include refid="PhotoColumns" />
        FROM photo p
        WHERE p.hash = #{hash}
    </select>

    <insert id="insert">
        INSERT INTO photo
        (id, hash, width, height, size, ext)
        VALUES
        (#{id}, #{hash}, #{width}, #{height}, #{size}, #{ext})
    </insert>

    <delete id="deleteById">
        DELETE FROM photo
        WHERE id = #{id}
    </delete>

    <delete id="deleteByIds">
        DELETE FROM photo
        WHERE id IN (<foreach collection="ids" item="v" separator=",">#{v}</foreach>)
    </delete>
</mapper>
